*{margin: 0; padding: 0;}
ul li{list-style: none;}
a{color: #000; text-decoration: none;}

#wrap{}
#header_out{width: 100%; height: 250px; position: relative; z-index: 5;}
/* 100% 메뉴를 만들기 위해서header 전체를 감싸는 header_out(100%)을 만든다 */
#header{width: 1200px; height: 250px;
        margin: 0 auto;
        /* border: 1px solid black; */
       }
/* header realative를 주면 하위 100%주더라도 1200px로 제한됨 */

#logo{width: 250px; height: 90px;
      border: 2px solid black;
      position: absolute; left:50%; top:50%;
      transform: translate(-50%,-50%);} /*정중앙 정렬*/
    #logo img{display: block;
              width: 100%; height: 100%;}
    /* 이미지가 넘 크니까 일단 크길 줄이고 100% 100% 해서 크기에 맞춘다 */

#nav_Icon{float: left; margin-left: 15px; margin-top: 20px;
        /* position: absolute; left:15px; top:20px; */
         } /*이제 header-out에 귀속되니까 float 주면 돼*/    
    #nav_Icon ul li{float: left; /*icon들 왼쪽부터 나열*/
                    margin-left: 15px;}

#gnb{float: right; margin-right: 15px; margin-top: 20px;
    /* position: absolute; right:15px; top:20px; */
    } /*이제 header-out에 귀속되니까 float 주면 돼*/  
    #gnb ul li{float: left; 
               padding: 0 10px; /*글자 사이에 바 넣기*/
               background: url(../images/bar.gif) no-repeat 100% 60% /*바 위치조절*/;}
        #gnb ul li:last-child{background: none;} /*마지막 바는 없애기*/


.main_nav{position: absolute; width: 100%; top: 220px; left: 0;}

.main_nav>ul{width: 1200px; margin: 0 auto; 
            position: relative; z-index: 10;} /*이거 빼면 shadow 밑으로 메뉴가 나옴*/
             /*shadow를 감싸지 않기 때뭉네 position 줘도 됨*/

    .main_nav > ul > li{float: left; text-align: center;}
         .main_nav ul li a{display: block; width: 200px; height: 30px;
                           line-height: 30px;}

            .main_nav ul li ul{background-color: rgba(255,255,255,0.7);
                               position: absolute; 
                               height: 0px; 
                               overflow: hidden;
                               transition: all 0.35s;}
                .main_nav ul:hover li ul{height: 240px; 
                                         padding: 10px 0;
                                        }
                
.shadow{position: absolute; top: 30px; left: 0;
        background-color: rgba(255,255,255,0.7); 
        height:0px; width:100%;
        transition: all 0.35s;
        }
    .main_nav ul:hover + .shadow{height: 260px; 
                                 border-bottom: 1px solid #333;}

#main{width: 1200px; height: auto; margin: 0 auto; position: relative;}

