*{margin: 0; padding: 0;}
ul li{list-style: none;}
a{text-decoration: none; color: #000;}

/* 스마트폰용, 320까지 줄여도 잘 나오면 성공(옛날 아이폰1 사이즈) */
@media screen and (max-width:600px){
        #wrapper{
        /* width: 900px; */ width: 100% ; /*★★100 %%%%%%%%% ★☆*/
        margin: auto;} 

        header{height: 120px; background-color: #f46075;
        }

         header h1{float: left; margin-left: 30px; margin-top: 30px;
                    color: #fff; font-size: 24px;}
                header .logo_p{float: right; margin-right: 20px; margin-top: 20px;
                                width: 120px;}
                        header .logo_p img{display: block; width: 100%;}

        nav{height: 120px; background-color: #ccc;}
               
                                nav ul li{float: left; 
                                /* margin-left: 50px;*/
                                width: 50%; height: 60px;
                                }
                        nav ul li a{display: block; width: 160px; height: 40px;
                                        line-height: 40px; text-align: center;
                                        margin: 10px auto 0; 
                                        }
                                nav ul li:hover a{background-color: #f46075;
                                                  color: #fff; font-weight: bold;
                                                 border-radius: 20px;} 
        
         .main{width: 100%;}
        section{width: 100%; background-color: skyblue;
                        padding-bottom: 20px;
                        }
                

                /* section article 및 텍스트 정렬 */
                section h2{text-align: center; padding: 10px 0;}
                section article{width: 80%; height: 180px; padding: 10px; 
                background-color: #fff;
                float: none; /*밑으로 나열할 거라 float필요없음 */ 
                border: 1px solid #333;
                margin: 0 auto 15px; /*article크기80% /좌우auto(중앙정렬) 아래만 15px여백*/
                text-align: justify; }        
                
                section article p{font-size: 13px;}
                article h3{padding-bottom: 10px; 
                           padding-left: 30px;
                           background: url(../bg.png) no-repeat 0%/*맨앞*/ 20%/*양옆*/;}


        aside{width: 100%; height: auto; background-color: #ffffcc; text-align: center;}
                /* 어사이드 사진 정렬 */
                aside h2{padding: 10px 0;}
                aside img{width: 75%; padding-bottom: 10px 0;}

        /* 푸터 */
        footer{height: 50px;
                background-color: #333; color: #fff;
                line-height: 50px; text-align:center;}
}

/* 스마트패드용 */
@media screen and (min-width:601px) and (max-width:1023px){
        
        #wrapper{width: 600px; margin: auto;} 

        header{height: 160px; background-color: #f46075;
                }

        header h1{float: left; margin-left: 30px; margin-top: 50px;
                color: #fff;}
        header .logo_p{float: right; 
                       width: 160px; 
                       margin-right: 10px; margin-top: 15px;}
                header .logo_p img{display: block; width: 100%;}


        nav{height: 60px; background-color: #ccc;}
        nav ul li{float: left; 
                margin-left: 15px; 
                margin-top: 10px;}

                nav ul li a{display: block; 
                           width: 127px; height: 40px;
                           line-height: 40px; text-align: center;}
                        nav ul li:hover a{background-color: #f46075;
                                        color: #fff; font-weight: bold;
                                        border-radius: 20px;}

        .main{height: auto;}
        /* 섹션, 어사이드 정렬 */

        section{width: 600px; height: 550px; background-color: skyblue;
                }
       
                /* section article 및 텍스트 정렬 */
                section h2{text-align: center; padding: 10px 0;}
                section article{width: 260px; height: 180px; padding: 10px; 
                                background-color: #fff;
                                float: left; border: 1px solid #333;
                                margin: 0 0 15px 12px;
                                text-align: justify; }

                section article p{font-size: 13px;}
                article h3{padding-bottom: 10px; 
                        padding-left: 30px;
                        background: url(../bg.png) no-repeat 0%/*맨앞*/ 20%/*양옆*/;}
 
        aside{width: 100%; height: auto; 
                background-color: #ffffcc; text-align: center;
              }
                /* 어사이드 사진 정렬 */
                aside h2{padding: 10px 0;}
                aside img{padding-bottom: 10px;}

        /* 푸터 */
        footer{height: 50px;
                background-color: #333; color: #fff;
                line-height: 50px; text-align:center;}
        }


/* PC용 */
@media screen and (min-width:1024px){

#wrapper{width: 900px; margin: auto;} 
/*전체를 900 중앙정렬*/

header{height: 200px; background-color: #f46075;
    /* width: 100%; 넓이 안 써도 wrapper 따라감} */}

    header h1{float: left; margin-left: 50px; margin-top: 70px;
            color: #fff;}
    header .logo_p{float: right; margin-right: 20px; margin-top: 30px;}

nav{height: 60px; background-color: #ccc;}
    nav ul li{float: left; margin-left: 50px; margin-top: 10px;}
        nav ul li a{display: block; width: 160px; height: 40px;
                    line-height: 40px; text-align: center;}
                     nav ul li:hover a{background-color: #f46075;
                                        color: #fff; font-weight: bold;
                                        border-radius: 20px;} /*전체 지정 시width 225주면됨(900÷4)*/

.main{height: 550px;}
/* 섹션, 어사이드 정렬 */
section{width: 650px; height: 550px; background-color: skyblue;
        float: left;}
aside{width: 250px; height: 550px; background-color: #ffffcc;
        float: left;}

/* section article 및 텍스트 정렬 */
section h2{text-align: center; padding: 10px 0;}
section article{width: 280px; height: 180px; padding: 10px; 
                background-color: #fff;
                float: left; border: 1px solid #333;
                margin: 0 0 15px 15px;
                text-align: justify; /*텍스트 양쪽정렬*/}        
    section article p{font-size: 13px;}
    article h3{padding-bottom: 10px; 
                /* article > h3 앞에 이미지 넣기 */
                padding-left: 30px;
                background: url(../bg.png) no-repeat 0%/*맨앞*/ 20%/*양옆*/;}

/* 어사이드 사진 정렬 */
aside{text-align: center;}
aside h2{padding: 10px 0;}
aside img{padding-bottom: 10px 0;}

/* 푸터 */
footer{height: 50px;
        background-color: #333; color: #fff;
        line-height: 50px; text-align:center;}

}