@charset "utf-8";

*{margin:0; padding:0; border:0;}
ul,li{list-style:none;}
a{text-decoration:none;}
.cf:after{content:''; display:block; clear:both;}
body{font-family: 'Noto Sans KR', sans-serif;}

