@import "./styles/_variables.scss";
@import "./styles/_mixins.scss";

body {
  background: #f9fafb;
  font-family: "Pretendard", sans-serif;
}

// Card 스타일 (카드 밑의 하위요소는 .card{}로 감싼다)
.card {
  background: white;
  padding: 20px;
  border-radius: $radius;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  h2 {
    color: $primary-color;
    margin-bottom: 10px;
  }

  p {
    color: $text-gray;
  }

  .btn {
    @include flex-center;
    //@include는 mixin을 사용하기 위해 선언하는 구문입니다.
    //셀렉터를 지정하고 그 내부에 @include를 통해 mixin을 불러오면 됩니다.
    background: $primary-color;
    color: white;
    padding: 10px 15px;
    border-radius: $radius;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background: darken($primary-color, 10%);
    }
  }
}
